.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-logo {
  height: 20vmin;
  width: 30vmin;
  pointer-events: none;
}

.imageWrapper {
  position: relative;
}
.overlayImage {
  text-align: center;
  height: 70vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.imageWrapper2 {
  position: relative;
}
.overlayImage2 {
  text-align: center;
  height: 60vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  font-family: 'Muli',sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

.center2 {
  font-size: 30px;
  text-align: center;
  padding: 75px 0px;
}

.right {
  padding: 10px 30px;
  font-size: 30px;
  text-align: right;
}

.flex-container {
  height: 60vmin;
  display: flex;
}

.flex-child {
  padding: 50px 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  background-image: linear-gradient(rgba(83, 153, 234, 0.922),rgba(215, 224, 250, 0.922), rgb(239, 245, 255));
}  

.flex-child2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15%;
  background-color: #ffffff;
} 

.flex-child:first-child {
  margin-right: 20px;
}

.ineedtosleep{
  padding: 500px 0px;
}

.pagination {
  font-family: 'Muli',sans-serif;
  display: inline-block;
  background-size: 100% 100%;
  text-align: center;
  padding: 75px 0px;
}

.pagination a {
  color: black;
  float: left;
  padding: 20px 30px;
  height: 10vmin;
  width: 20vmin;
  text-decoration: none;
}

.pagination a.active {
  background-color: #a5dcf0;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
